<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="bg-white px-5 py-5 rounded max-w-md w-full space-y-8 text-center">
    <div>
      <h1 class="strong text-blue-600 text-3xl"><strong>Budgeta</strong></h1>
      <h2 class="mt-6 text-center font-extrabold text-gray-900">Create new account</h2>
      <p class="text-green-700"><%= notice %></p>
      <p class="text-sm alert text-red-700"><%= alert %></p>
    </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="name" class="sr-only">Name </label>
          <%= f.text_field :name, class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded mb-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Your name" %>
        </div>
  </div>
  
  <div class="rounded-md shadow-sm -space-y-px">
    <div>
      <label for="email" class="sr-only">Email </label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded mb-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Email address" %>
    </div>
  </div>

  <div class="rounded-md shadow-sm -space-y-px">
    <div>
      <label for="password" class="sr-only">Password </label>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded mb-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Password" %>
    </div>
  </div>

  <div class="rounded-md shadow-sm -space-y-px">
    <div>
      <label for="password" class="sr-only">Password confirmation</label>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded mb-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Password again" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
